{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <html lang="PT-BR">
    <title>Eternize</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <header>
      {% include "categorias/header.html" %}
    </header>
    <main>
      <section class="produtos">
        <h2 class="titulo">Talheres</h2>
      </section>
      <section class="cards_container">
      <section class="cardsSection1">
        <div class="card">
            <img src="{% static '/images/garfofacasob_dourados.png' %}" class="imagem">
            <p class="dg">Garfo e faca de sobremesa dourados Berna Wollf</p>
            <a target="_blank" href="guardanapos.html" class="ancor">Alugar</a>
          </div>
          <div class="card">
            <img src="{% static '/images/garfofacaref_dourados.png' %}" class="imagem">
            <p class="dg">Garfo e faca refeição dourados - Berna (wollf)</p>
            <a target="_blank" href="guardanapos.html" class="ancor">Alugar</a>
          </div>
          <div class="card">
            <img src="{% static '/images/talheres_bambu.png' %}" class="imagem">
            <p class="dg">Kit talheres - Cabo Bambu Natural</p>
            <a target="_blank" href="guardanapos.html" class="ancor">Alugar</a>
          </div>
      <section class="cardsSection1">
        <div class="card">
          <img src="{% static '/images/talheres_douradoswolf.png' %}" class="imagem">
          <p class="dg">Kit talheres Dourados wollf (garfo / faca de jantar e garfo e faca de sobremesa colherzinha de sobremesa)</p>
          <a target="_blank" href="guardanapos.html" class="ancor">Alugar</a>
        </div>
      </section>
    </section>
    </main>
    <footer>
        <p>oi</p>
    </footer>
  </body>
</html>
